
.modal.fade{ id: "fm_#{@folder.id}", role: :dialog, tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => :modal, type: :button }
          %span{ 'aria-hidden' => :true } &#215;
        %h4.modal-title Update Folder
      .modal-body
        %input{ type: :hidden, name: :fg_color, id: :fg_color, value: @folder.fg }
        %input{ type: :hidden, name: :bg_color, id: :bg_color, value: @folder.bg }
        .row
          .col-md-11
            - if @folder.errors[:name].empty?
              .form-group
                %label.control-label{ for: :folder_name } Name
                %input.form-control{ type: :text, id: :folder_name, name: :folder_name, placeholder: 'Name',
                                    value: @folder.try(:name) }
            - else
              .form-group.has-error.has-feedback
                %label.control-label{ for: :folder_name } Name
                %input.form-control{ 'aria-describedby' => 'nameErrorStatus', id: :folder_name, name: :folder_name,
                                    placeholder: 'Name', type: :text, value: @folder.name }
                %span.glyphicon.glyphicon-remove.form-control-feedback{ 'aria-hidden' => true }
                %span.sr-only#folderNameErrorStatus (error)
                %span.help-block= @folder.errors[:name].first
        .row
          .col-md-3
            - if @folder.errors[:fg].empty?
              .form-group
                %label.control-label{ for: :fg } Foreground
                .clearfix
                %input.form-control{ type: :text, id: :fg, name: :fg, placeholder: '000000', value: @folder.try(:fg) }
            - else
              .form-group.has-error.has-feedback
                %label.control-label{ for: :fg } Foreground
                .clearfix
                %input.form-control{ 'aria-describedby' => 'nameErrorStatus', id: :fg, name: :fg, placeholder: '#000000',
                                    type: :text, value: @folder.fg }
                %span.glyphicon.glyphicon-remove.form-control-feedback{ 'aria-hidden' => true }
                %span.sr-only#fgErrorStatus (error)
                %span.help-block= @folder.errors[:fg].first
          .col-md-3
            - if @folder.errors[:bg].empty?
              .form-group
                %label.control-label{ for: :bg } Background
                .clearfix
                %input.form-control{ type: :text, id: :bg, name: :bg, placeholder: 'ffffff', value: @folder.try(:bg) }
            - else
              .form-group.has-error.has-feedback
                %label.control-label{ for: :bg } Background
                .clearfix
                %input.form-control{ 'aria-describedby' => 'nameErrorStatus', id: :bg, name: :bg, placeholder: '#ffffff',
                                    type: :text, value: @folder.bg }
                %span.glyphicon.glyphicon-remove.form-control-feedback{ 'aria-hidden' => true }
                %span.sr-only#bgErrorStatus (error)
                %span.help-block= @folder.errors[:bg].first
      .modal-footer
        %button.btn.btn-default{ 'data-dismiss' => :modal, type: :button } #{sg 'remove'} &nbsp;Close
        %button.btn.btn-primary{ type: :button, id: :save } #{sg 'share-alt'} &nbsp;Save Changes

:javascript
  $(function(){
    $('#save').click( function(){
      $.ajax({
        method: 'put',
        url: '/folders/#{@folder.id}',
        data: {
          name: $('#folder_name').val(),
          fg: $('#fg_color').val().replace('#', ''),
          bg: $('#bg_color').val().replace('#', '')
        }
      });
    });
    initSpectrum('#fg', "#{@folder.try(:fg)}");
    initSpectrum('#bg', "#{@folder.try(:bg)}");
  });
