
.modal.fade{ id: "adm_#{@page.id}", role: :dialog, tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => :modal, type: :button }
          %span{ 'aria-hidden' => :true } &#215;
        %h4.modal-title Confirm Page Delete
      .modal-body
        %p Are you sure you want to delete the #{@page.name} page?
      .modal-footer
        %button.btn.btn-default{ 'data-dismiss' => :modal, type: :button } #{sg 'remove'} &nbsp;Close
        %button.btn.btn-danger{ id: :delete, type: :button } #{sg 'share-alt'} &nbsp;Delete
:javascript
  $(function(){ $('#delete').on( 'click', function() {
    $.ajax({
      method: 'delete',
      url: "/forms/#{@form.id}/pages/#{@page.id}"
    });
  }); });
