
.h3.page-header.hidden-xs
  = link_to 'Projects', projects_path
  = dl
  = link_to @project.name, edit_project_path(@project)
  = dl
  = link_to @form.name, edit_project_form_path(@project, @form)
  = dl
  Edit Page

%div
  .row
    .col-md-6
      %div
        .panel.panel-default
          .panel-body
            = simple_form_for [@form, @page], method: :put do |f|
              = render partial: 'pages/form', locals: { f: f }
              .form-group
                = f.button :button, class: 'btn-success' do
                  = sg 'pencil'
                  Update Page
  .row
    .col-md-6
      = render 'pages/sections'
