.row.hidden
	.col-md-6
		%h4 Project Forms
		- unless @project.forms.count.zero?
			%table.table.table-condensed.table-hover.table-bordered.table-striped#sort_forms
				%thead
					%tr
						%th Form
						%th Records
						%th{ colspan: 2 } &nbsp;
				%tbody
					- @project.forms.each do |f|
						%tr.hand{ id: "f_#{f.id}" }
							%td.middle #{ " &nbsp;#{sg 'sort'} &nbsp;#{f.name}".html_safe }
							%td.middle= f.records.size
							%td.tight= link_to raw("#{sg 'pencil'} &nbsp;Edit"), edit_project_form_path(@project, f), id: "form_#{f.id}", type: :button, class: 'btn btn-sm btn-warning'
							%td.tight= link_to raw("#{sg 'remove'} &nbsp;Delete"), 'javascript:;', id: "ad_form_#{f.id}", type: :button, class: 'btn btn-sm btn-danger'

		%div
			.panel.panel-default
				.panel-body
					= simple_form_for [@project, @form] do |f|
						= f.hidden_field :project_id, value: @project.id
						= render partial: 'forms/form', locals: { f: f }
						= f.button :button, class: 'btn-success' do
							= sg 'share-alt'
							Create New Form
