
- unless @folders.count.zero?
  %table.table.table-condensed.table-hover.table-bordered.table-striped
    %thead
      %tr
        %th{ colspan: 2 } Project Folders
    %tbody
      - unless @unfoldered_projects.nil? || @unfoldered_projects.count.zero?
        %tr
          %td.middle{ colspan: 2 }
            &nbsp;
            %span.glyphicon.glyphicon-folder-open
              %b
                %a{ href: 'javascript:;', style: 'text-decoration: none; color: #000' }
                  Unfoldered
        - @unfoldered_projects.each do |p|
          - next if p.deleted
          %tr
            %td.middle.indent= p.name
            %td.tight
              = link_to raw("#{sg 'pencil'} &nbsp;Edit"), edit_project_path(p), type: :button, class: 'btn btn-sm btn-warning'
              - if @current_user.is_owner?(p)
                = link_to raw("#{sg 'remove'} &nbsp;Delete"), ask_delete_project_path(p), type: :button,
                          class: 'btn btn-sm btn-danger'

      - @folders.each do |f|
        - next if f.project_folders.count.zero?
        %tr.lh32
          %td.middle{ colspan: 2, style: f.td_style }
            %b
              &nbsp;
              - if f.collapsed
                %span.glyphicon.glyphicon-folder-close{ id: "fc-#{f.id}" }
                %span.glyphicon.glyphicon-folder-open{ id: "fo-#{f.id}", style: 'display:none' }
              - else
                %span.glyphicon.glyphicon-folder-close{ id: "fc-#{f.id}", style: 'display:none' }
                %span.glyphicon.glyphicon-folder-open{ id: "fo-#{f.id}" }
              &nbsp;
              %a{ href: 'javascript:;', onclick: "javascript:toggleFolderCollapse(#{f.id});", style: f.a_style }
                = f.name
        - f.project_folders.each do |pf|
          - p = pf.project
          - next if p.deleted
          %tr{ id: "f#{f.id}-p#{p.id}", style: raw(f.collapsed ? 'display:none' : '') }
            %td.middle.indent{ style: f.td_style }
              = link_to p.name, edit_project_path(p), style: f.a_style
            %td.tight
              = link_to raw("#{sg 'pencil'} &nbsp;Edit"), edit_project_path(p), type: :button, class: 'btn btn-sm btn-warning'
              - if @current_user.is_owner?(p)
                = link_to raw("#{sg 'remove'} &nbsp;Delete"), ask_delete_project_path(p), type: :button,
                          class: 'btn btn-sm btn-danger'
