
.h3.page-header.hidden-xs
  = link_to 'Projects', projects_path
  = dl
  Edit Project

%div
  .row
    .col-md-6
      %div
        .panel.panel-default
          .panel-body
            = simple_form_for @project, method: :put do |f|
              = render partial: 'projects/form', locals: { f: f }
              = f.button :button, class: 'btn-success' do
                = sg 'pencil'
                Update Project
  .row
    .col-md-6
      = render 'projects/forms'
