
.h3.page-header.hidden-xs
  = link_to 'Projects', projects_path
  = dl
  Edit Project

%div
  .row
    .col-md-6
      %div
        .panel.panel-default
          .panel-body
            = form_for @project, method: :put do
              = render 'projects/form'
              .form-group
                %button.btn.btn-success{ type: :submit }
                  = sg('pencil')
                  &nbsp;Update Project
    .col-md-6
      = render 'projects/forms'
