
.h3.page-header.hidden-xs
  = link_to 'Projects', projects_path
  = dl
  Edit Project

%ul.nav.nav-tabs
  %li#li_project{ role: :presentation }
    = link_to 'Project', 'javascript:;', id: :tab_project
  %li#li_forms{ role: :presentation }
    = link_to 'Forms', 'javascript:;', id: :tab_forms
  %li#li_surveys{ role: :presentation }
    = link_to 'Surveys', 'javascript:;', id: :tab_surveys

.col-md-6
  = render partial: 'projects/edit_project'
  = render partial: 'projects/edit_forms'
  = render partial: 'projects/edit_surveys'
