
.h3.page-header.hidden-xs
  = link_to 'Projects', projects_path
  = dl
  Edit Project

%div
  .row
    .col-md-6
      %div
        .panel.panel-default
          .panel-body
            = form_for @project, method: :put do
              = render 'projects/form'
  .row
    .col-md-8
      = render 'projects/forms'

:javascript
  $('#update').click(function(e) {
    $('#edit_project_#{@project.id}').submit()
    e.preventDefault();
  });
