
%h4 Form Pages

- unless @pages.count.zero?
  %table.table.table-condensed.table-hover.table-bordered.table-striped#sort_pages
    %thead
      %tr
        %th{ colspan: 3 } Page
    %tbody
      - @pages.each do |p|
        %tr.hand{ id: "p_#{p.id}" }
          %td.middle= " &nbsp;#{sg 'sort'} &nbsp;#{p.name}".html_safe
          %td.tight= link_to raw("#{sg 'pencil'} &nbsp;Edit"), edit_form_page_path(@form, p), id: "page_#{p.id}", type: :button, class: 'btn btn-sm btn-warning'
          %td.tight= link_to raw("#{sg 'remove'} &nbsp;Delete"), 'javascript:;', id: "ad_page_#{p.id}", type: :button, class: 'btn btn-sm btn-danger'

%div
  .panel.panel-default
    .panel-body
      = simple_form_for [@form, @page] do |f|
        = f.hidden_field :project_id, value: @project.id
        = f.hidden_field :form_id, value: @form.id
        = f.input :name
        = f.button :button, class: 'btn-success' do
          = sg 'share-alt'
          Create New Page
