!!! 5
%html
  %head
    %title ELDAC - Electronic Data Capture
    %meta(charset='utf-8')
    %meta(http-equiv='x-ua-compatible' content='ie=edge')
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %link(rel='icon' type='image/png' href='/favicon.png')
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
%body
  = render 'shared/menu'
  = render 'shared/flash'
  .class.container-fluid
    .row
      .class.col-sm-3.col-md-2.sidebar
        = render 'shared/sidebar'
      .class.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        = yield
